.likeModal {
  position: relative;
  &__header {
    width: 100%;
    border-bottom: 1px solid lightgrey;
  }
  &__likedList {
    width: 100%;
    margin-top: 1rem;
  }
  &__likedUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__user {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  &__profilePic {
    background-color: cyan;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  &__exitIcon {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
  }
}
