@use '../styles/partials/breakpoints' as *;

.likeModal {
  position: relative;

  &__header {
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid lightgrey;
  }
  &__likedList {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  &__exitIcon {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
  }
}
