.likedUser {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__user {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }
  &__profilePic {
    border-radius: 50%;
    object-fit: cover;
  }
}
