.newPostBar {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 1rem 1rem;
  transition: 1s;

  &__top {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
  }

  &__profilePic {
    border-radius: 50%;
    object-fit: cover;
  }

  &__postInput {
    border: none;
    background-color: #f2f2f2;
    padding-left: 1rem;
    flex: 1;
    border-radius: 20px;
    transition: 1s;
    outline: none;
  }

  &__postInputDark {
    @extend .newPostBar__postInput;
    background-color: rgb(118, 119, 124);
    color: rgb(212, 215, 221);
  }

  &__postInputDark::placeholder {
    color: rgb(212, 215, 221);
  }

  &__bottom {
    padding-top: 1rem;
  }
  &__addMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  &__imagePreview {
    position: relative;
    margin-bottom: 1rem;
  }
  &__deleteIconContainer {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -10px;
    top: -10px;
    cursor: pointer;
  }
  &__addPhotoButton {
    display: flex;
    align-items: center;
    color: white;
  }
}

.newPostBarDark {
  @extend .newPostBar;
  background-color: rgb(58, 59, 61);
}
