.notificationDisplay {
  width: 400px;
  min-height: 200px;
  // height: 500px;
  background-color: white;
  position: absolute;
  z-index: 3;
  right: 20px;
  top: -10px;
  border-radius: 10px;

  &__notificationList {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0 0.5rem;
    padding-bottom: 1rem;
  }
  &__headers {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 1rem;
    padding: 0 1rem;
  }
  &__markRead {
    color: rgb(25, 118, 210);
    cursor: pointer;
  }
}
