.profile {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(244, 244, 244);

  a {
    text-decoration: none;
    color: black;
  }

  &__profileContainer {
    display: grid;
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    column-gap: 2rem;
  }

  &__left,
  &__friendRequests,
  &__friendRequestsEmpty,
  &__feed {
    margin-top: 2rem;
  }
  &__userSection {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
  }
  &__user {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  &__profilePic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__userInfo {
    width: 100%;
    border-top: 1px solid lightgrey;
    margin-top: 2rem;
  }
  &__locationBox,
  &__occupationBox {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;
  }
  &__friendRequests {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
  }
  &__friendRequestsEmpty {
    background-color: white;
    height: 200px;
    border-radius: 10px;
    padding: 1rem;
  }
  &__requestRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  &__requestUser {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  &__requestPic,
  &__friendsPic {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__requestActions {
    display: flex;
    column-gap: 1rem;
    cursor: pointer;
  }
  &__friendsList {
    background-color: white;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem;
  }
  &__friendsListContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  &__friendsRow {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    cursor: pointer;
  }
  &__friendsName:hover {
    text-decoration: underline;
  }
  &__postsSection {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}
