@use '../styles/partials/breakpoints' as *;

.profile {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(244, 244, 244);
  transition: 1s;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }

  &__profileContainer {
    // display: grid;
    position: relative;
    column-gap: 2rem;
    max-width: 1920px;
  }

  &__left,
  &__feed {
    margin-top: 2rem;
    // overflow-block: auto;
  }
  &__feedHeader {
    transition: 1s;
  }

  &__postsSection {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}

.profileDark {
  @extend .profile;
  background-color: rgb(28, 30, 33);

  &__feedHeader {
    color: white;
  }
}

@include small() {
  .profile {
    &__profileContainer {
      // padding-left: 1.5rem;
      // padding-right: 1.5rem;
      width: 90%;
    }

    &__left {
      order: 0;
    }

    &__feed {
      order: 2;
    }
    &__friendRequests {
      order: 1;
    }
    &__friendRequestsEmpty {
      background-color: white;
      height: 100px;
    }
  }
}
@include medium() {
  .profile {
    &__profileContainer {
      padding-left: 5%;
      padding-right: 5%;
      grid-template-columns: 1.5fr 3fr 1.5fr;
    }
  }
}
@include large() {
  .profile {
    &__profileContainer {
      padding-left: 15%;
      padding-right: 15%;
      grid-template-columns: 1.5fr 3fr 1.5fr;
    }
  }
}
